@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}



@media (max-width: 520px){
  :root {
    --dark-bg: rgba(15, 15, 15, 0.95);
    --spacing: 270px;
    --sizefont: 11px;
  
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

}

@media (min-width: 519px) {
  :root {
    --dark-bg: rgba(15, 15, 15, 0.95);
    --spacing: 350px;
    --sizefont: 16px;
  
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}

body{
  /* background-image: url("public/space.jpg"); */
  /* background-size: cover; */
  background: linear-gradient(45deg,black, white  );
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  


  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}



  header {
    background: var(--dark-bg);
    grid-column: 2 / span 5;
    font-size: calc(2.5 * var(--sizefont));
    padding: calc(2 * var(--sizefont));
    margin-bottom: var(--spacing);
  }

  section {
    grid-column: 2 / 8;
    padding: calc( 1 * var(--sizefont));
    background: var(--dark-bg);
    font-size: calc( 1.25 * var(--sizefont));
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: black;
    background-color: white;
    font-size: calc( 2.5 * var(--sizefont));
    display: inline;
    line-height: 1;
  }

  .left {
    grid-column: 6 / 12;
  }

  a {
    color: white;
  }
  
  img{
    width: 100%;
    /* height: min-content; */
  }

  ul {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 0px;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
  }

  li {
    list-style: none;
    width: 24%;
  }
  /* .left p{
    text-align: center;
  } */
  .skill{
    text-align: center;
    width: 47%;
  }
  .skillAlone{
    text-align: center;
    width: auto;
  }
  .skillAlone li{
    width: auto;
  }
  .skill li{
    width: auto;
  } 

  .skills{
    display: flex;
  }

/* pour le bouton  */

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 100px;
  height: 50px;
  background: #2c2772;
  display: block;
  border-radius: 50px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 2.5px;
  left: 2.5px;
  width: 45px;
  height: 45px;
  background: #fff;
  border-radius: 45px;
  transition: 0.3s;
}

input:checked + label {
  background: grey;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 65px;
}

div.bouton{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  /* background-color: violet; */
  height: 10%;
}

.hidden {
  display: none;
}